.app {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.app .row.header {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.app .row.content {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}
